/* Global */
* {
    user-select: none;
}

/* Container */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
    background-color: #000;
    color: #eee;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.study-projects-back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: #e0e1dd;
    color: #000;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 11px #0002;
    z-index: 12;
    border: 1px solid #333;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}

/* Title */
.question h3 {
    font-size: 1.2rem;
    text-shadow: 1px 1px 6px #000;
    margin-bottom: 0;
}

.question h2 {
    font-size: 1.4rem;
    text-shadow: 1px 1px 6px #000;
    margin-bottom: 32px;
}

/* Buttons choices */
.choice {
    margin: 8px 0;
    cursor: pointer;
    padding: 8px 16px;
    min-width: 256px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #eee;
    background-color: #2225;
    border: 2px solid #eee;
    border-radius: 8px;
    transition: 0.4s;
    text-shadow: 1px 1px 12px #000;
}

.choice:hover {
    color: #222;
    background-color: #eee;
    border: 2px solid #eee;
    text-shadow: 1px 1px 6px #fff;
    transition: 0.2s;
}

/* Response */
.container-explanation {
    margin-top: 8px;
    margin-bottom: 32px;
}

.response-true {
    color: #41ad49;
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 2px solid #41ad49;
    padding-bottom: 16px;
    margin-top: 0;
    margin-bottom: 8px;
}

.response-false {
    color: #e44061;
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 2px solid #e44061;
    padding-bottom: 16px;
    margin-top: 0;
    margin-bottom: 8px;
}

.explanation {
    font-size: 1.2rem;
    text-shadow: 1px 1px 6px #000;
    padding: 0 16px;
}

/* Next question */
#nextQuestion {
    cursor: pointer;
    padding: 8px 16px;
    font-size: 1.2rem;
    text-shadow: 1px 1px 6px #000;
    font-weight: 600;
    color: #eee;
    background-color: #2225;
    border: 2px solid #eee;
    border-radius: 8px;
    transition: 0.4s;
    margin-bottom: 32px;
}

#nextQuestion:hover {
    color: #222;
    text-shadow: 1px 1px 6px #fff;
    background-color: #eee;
    border: 2px solid #eee;
    transition: 0.2s;
}

/* Next game */
#restart {
    cursor: pointer;
    padding: 8px 16px;
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 1px 1px 6px #000;
    color: #eee;
    background-color: #2225;
    border: 2px solid #eee;
    border-radius: 8px;
    transition: 0.4s;
    margin-bottom: 32px;
}

#restart:hover {
    color: #222;
    text-shadow: 1px 1px 6px #fff;
    background-color: #eee;
    border: 2px solid #eee;
    transition: 0.2s;
}

.score-container {
    display: flex;
}

.score-container-hide {
    display: none;
}

.score-item {
    margin: 1rem 2rem;
    font-size: 1.2rem;
    color: #ccc;
}

.score-item span {
    color: #eee;
    text-shadow: 1px 1px 6px #000;
    font-weight: bold;
}

.question-counter {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.2em;
    font-weight: bold;
}

.percentage-green {
    color: #fcbf49 !important;
    font-weight: bold;
}

.percentage-red {
    color: #d62828 !important;
    font-weight: bold;
}